/*Tweaked CSS, Week 20*/
header .inline-block {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    overflow: hidden;
    background-color:#C3D9AD;
    padding: 0;
    width: 20rem;
	height: fit-content;
	margin: 0 flex-end;

 }
 
 footer .inline-block { 
    display: inline-block;
    vertical-align: top;
    margin-top: 3.7rem;
    overflow: hidden;
    background-color:#C3D9AD;
    padding: 0;
    width: 20rem;
	height: fit-content;
	margin: 0 flex-end;
 }
 
 header .logo {
    width: 3rem;
    height: 4rem;
    padding: 0%;
 }
 
 .nav {
    width: 73%;
    padding: 1%;
 }
 
 li:hover {
    background-color: #738F57;
 }
 
 ul.footer{
   background-color: #C3D9AD; 
   display: inline-block;
   vertical-align: top;
   margin-top: 1rem;
 }
 
 footer .logo{
    width: 3rem;
     height: 4rem;
    padding: 0%;
 }
 
 .navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 h1{
   font-family: clash display;
   font-weight: 400;
   text-align: center;
   font-display: auto;
}

h3{
   font-family: archivo, avenir;
   font-weight: 200;
   text-align: center;
}
 
h6{
   padding: 1%;
}
p{
   font-family: avenir;
   width: fit-content;
   text-align: center;
}

.list-group{
text-align: center;
}
 /*Week 18 CSS*/
 .flexContainer{
    display: flex;
    justify-content: center;
 }
 
 img{
    max-width: 70%;
    max-height: 70%;
    margin: 0%;
 }
 
 .workGrid{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "prject1 project2"
    "project3 project4";
    justify-content: center; 
    margin: 0%;
    padding: 0%
 }
 
 .workGrid-Item{
    margin: 0 auto;
 }
 
 div{
    font-family: avenir; 
 }
 
 .button{
    width: fit-content;
    border-style: groove;
    border-color: #3D3D3D;
    border-width: 1px;
    border-radius: 10px;
    color: white;
    font-weight: 100;
    background-color: #50633E;
    padding: 1%;
 }

 #wordCloud{
    max-width: 100%;
    max-height: fit-content;
 }
 
 /*Week 19 CSS*/
 
 button{
     width: fit-content;
     border-style: groove;
     border-color: #3D3D3D;
     border-width: 1px;
     border-radius: 10px;
     color: white;
     font-weight: 100;
     background-color: #50633E;
     padding: 1%;
     font-family: avenir;
 }


  /* GY

 .heroImg{ 
    height: 600px;
    padding: 25px;
 }

   .content{
    width: 50px;
    margin: 0 auto;
 }


  .signature{
     width: 130px;
     justify-content: flex-end;
  }

  */
 
  /*Media Querey Week 18*/
 
 @media only screen and (max-width: 600px){
    .flexContainer{
        display: flex;
        justify-content: center;  
      }
      .workGrid{
        display: grid;
        grid-template-rows: 2fr;
        grid-template-columns: 2fr;
        grid-template-areas: 
        "project1" 
        "project2"
        "project3" 
        "project4";
        justify-content: center; 
        margin: 0%;
        padding: 0%
      }
    }