/*Tweaked CSS, Week 20*/
header .inline-block {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    overflow: hidden;
    background-color:#C3D9AD;
    padding: 0;
    width: 20rem;
	height: fit-content;
	margin: 0 flex-end;

 }
 
 footer .inline-block { 
    display: inline-block;
    vertical-align: top;
    margin-top: 3.7rem;
    overflow: hidden;
    background-color:#C3D9AD;
    padding: 0;
    width: 20rem;
	height: fit-content;
	margin: 0 flex-end;
 }

 img{
   max-width: 70%;
   max-height: 70%;
   margin: 0%;
}
 
 header .logo {
    width: 3rem;
    height: 4rem;
    padding: 0%;
 }
 
 .nav {
    width: 73%;
    padding: 1%;
 }
 
 li:hover {
    background-color: #738F57;
 }
 
 ul.footer{
   background-color: #C3D9AD; 
   display: inline-block;
   vertical-align: top;
   margin-top: 1rem;
 }
 
 footer .logo{
    width: 3rem;
     height: 4rem;
    padding: 0%;
 }
 
 .navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .intro{
   width: 600px;
   padding-left: 2%;
 }

 .my-roles{
   display: flex;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
   padding-left: 2%;

 }


 h1{
   font-family: clash display;
   font-weight: 400;
   text-align: center;
   font-display: auto;
   background-color: #F6D2EC;
}

h2{
   font-family: clash display;
   font-weight: 400;
   text-align: left
}
h3{
   font-family: avenir;
   font-weight: 200;
   text-align: center;
   background-color: #C3D9AD;
}

h5{
   font-family: avenir;
   font-weight: 200;
   text-align: center;
   background-color: #C3D9AD;
}

h6{
   padding: 1%;
}
p{
   font-family: avenir;
   width: fit-content;
   text-align: center;
}

.list-group{
display: flex;
text-align: center;
width: 45%;
margin-left: auto;
margin-right: auto;
}

 button{
     width: fit-content;
     border-style: groove;
     border-color: #3D3D3D;
     border-width: 1px;
     border-radius: 10px;
     color: white;
     font-weight: 100;
     background-color: #50633E;
     padding: 1%;
     font-family: avenir;
 }

.case-study{
   display: flex;
   margin-left: auto;
   margin-right: auto;
}
 

 @media only screen and (max-width: 600px){
    .flexContainer{
        display: flex;
        justify-content: center;  
      }
      .workGrid{
        display: grid;
        grid-template-rows: 2fr;
        grid-template-columns: 2fr;
        grid-template-areas: 
        "project1" 
        "project2"
        "project3" 
        "project4";
        justify-content: center; 
        margin: 0%;
        padding: 0%
      }
    }